/* Body. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px 20px;
    background-color: #dddde0;
}

/* Links. */

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Window. */

#window {
	border: #00c853 2px solid;
    background-color: #fff;
    padding: 7px;
    width: 98%;
}

/* Page title. */

#pageTitle {
    background-color: #00c853;    
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 5px 0px;
    width: 100%;
    font-weight: bold;
	font-size: 20px; 
}

/* Page body. */

#pageBody { 
    margin-top: 5px;
    width: 100%;
}

/* Sidebar. */

#sidebar {
    float: left;
    background-color: #00e676;
    width: 20%;
}

#sidebar a {
    color : #6200ea;
}

#sidebar a:hover {
	color: #651fff;
}

#sidebar ul {
    list-style: none;
    padding-top: 0px;
    /* Hack for correct indentation (the following three lines). */
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

#sidebar li 
{
    padding: 0 0 3px 5px;
}

#sidebar li span
{
    font-weight: bold;
}

#menuWelcome {
    font-weight: bold;

	font-size: 16px;
	color : #6200ea;
}

#menuLinks a {
    color : #311b92;
}

/* Content. */

#content {
    padding-top: 20px;
    float: right;    
    text-align: center;
    width: 80%;
	background-color: #c8e6c9;
	
	margin-bottom: 5px;
	height: 90%;
}

p.info {
    font-size: 16px;
}

/* Forms. */

form {
    width: 100%;
}

div.field {
    clear: both;
    padding-top: 1em;
    width: 100%;
}

div.field span.label {
    float: left;    
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 0.3em;
    width: 49.5%;
}

div.field span.entry {
    float: right;    
    text-align: left;
    width: 49.5%;
}

div.checkbox {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

div.button {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

input, select, textarea  {
    background-color: #f4f4f4;
}

/* Error messages. */

.errorMessage {
    font-weight: bold;
    color: red;
    margin-left: 5px;
}

/* Footer. */

#footer {
    clear: both;
    text-align: center;
    padding-top: 10px;
	padding-bottom: 10px;
    width: 100%;
	background-color: #00c853;  
	font-weight: bold;
}