html,body,#window{
	height:95%;
}

/* Body. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    background-color: #dddde0;
}

/* Links. */

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Window. */

#window {
	border: #00c853 2px solid;
    background-color: #333;
    padding: 5px;
    width: 98%;
}

/* Page title. */

#pageTitle {
    background-color: #00c853;    
    color: #333;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 5px 0px;
    width: 100%;
    font-weight: bold;
	font-size: 20px; 

	height:7%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

/* Page body. */

#pageBody { 

    width: 100%;

	height:90%;
}

#menuWelcome {
    font-weight: bold;

	font-size: 16px;
	color : #6200ea;
}

#menuLinks a {
    color : #311b92;
}

/* Content. */

#content {
    padding-top: 20px;
    float: right;    
    text-align: center;
    width: 80%;
	background-color: #ccc;
	
	height: 90%;
}

p.info {
    font-size: 16px;
}

/* Forms. */

form {
    width: 100%;
}

div.field {
    clear: both;
    padding-top: 1em;
    width: 100%;
}

div.field span.label {
    float: left;    
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 0.3em;
    width: 49.5%;
}

div.field span.entry {
    float: right;    
    text-align: left;
    width: 49.5%;
}

div.checkbox {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

div.button {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

input, select, textarea  {
    background-color: #f4f4f4;
}

/* Error messages. */

.errorMessage {
    font-weight: bold;
    color: red;
    margin-left: 5px;
}

/* Footer. */

#footer {
    clear: both;
    text-align: center;
    padding-top: 10px;
	padding-bottom: 10px;
    width: 100%;
	background-color: #00c853;  
	font-weight: bold;
}

#cssmenu {
	width: 20%;
	height: 90%;
	background: #333;
	list-style: none;
	margin: 0;
	padding: 0;
	float:left;
}
#cssmenu ul{
	list-style: none;
    padding-top: 0px;
    /* Hack for correct indentation (the following three lines). */
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}
#cssmenu li span
{
    font-weight: bold;
	color:white;
	padding: 12px 12px;
}
#cssmenu li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 0 5px 0;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #00c853;
  color: #fff;
  padding-bottom: 8px;
}