<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Secciones de Config -->
  <configSections>
	
	<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	
	<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="Es.Udc.DotNet.PracticaMad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>

	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>

  <!-- Sección de Logging -->
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
	<listeners>
	  <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="c:\sourcecode\log\MiniPortal.Web.log" header="" footer="" formatter="SimpleLogFormatter" />
	</listeners>
	<formatters>
	  <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="[{timestamp(FixedFormatISOInternationalDate)} - {timestamp(FixedFormatTime)}] [{category}] ({severity}) - {message}" name="SimpleLogFormatter" />
	</formatters>
	<categorySources>
	  <add switchValue="All" name="General">
		<listeners>
		  <add name="Flat File Trace Listener" />
		</listeners>
	  </add>
	</categorySources>
	<specialSources>
	  <allEvents switchValue="All" name="All Events">
		<listeners>
		  <add name="Flat File Trace Listener" />
		</listeners>
	  </allEvents>
	  <notProcessed switchValue="All" name="Unprocessed Category" />
	  <errors switchValue="All" name="Logging Errors &amp; Warnings" />
	</specialSources>
  </loggingConfiguration>

  <!-- Conexión a la BD -->
  <connectionStrings>
	<add name="MaDEntities" connectionString="metadata=res://*/PracticaMaD.csdl|res://*/PracticaMaD.ssdl|res://*/PracticaMaD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOCALHOST\SQLEXPRESS;initial catalog=mad_test;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <!-- Web -->
  <system.web>

	<compilation debug="true" targetFramework="4.5.2"/>
	
    <httpRuntime targetFramework="4.5.2"/>
	
	<authentication mode="Forms">
	  <forms name=".ASPXAUTH" loginUrl="~/Pages/User/Authentication.aspx" timeout="30" path="/" defaultUrl="~/Pages/MainPage.aspx" cookieless="AutoDetect" />
	</authentication>
	<sessionState cookieless="UseCookies" timeout="30" />
	
	<customErrors mode="Off" defaultRedirect="~/Pages/Errors/InternalError.aspx" />

	<authorization>
	  <deny users="?" />
	</authorization>

	<pages masterPageFile="~/PracticaMaD.Master" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
	
  </system.web>

  <!-- Validaciones No Intrusivas -->
  <appSettings>
	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <!-- Unity -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
	<!-- <alias alias="aliasName" type="Class FullName, Assembly Name" /> -->

	<alias alias="IUserProfileDao" type="Es.Udc.DotNet.PracticaMaD.Model.UserProfileDao.IUserProfileDao, PracticaMaD.Model" />
	<alias alias="UserProfileDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.UserProfileDao.UserProfileDaoEntityFramework, PracticaMaD.Model" />
	<alias alias="IUserService" type="Es.Udc.DotNet.PracticaMaD.Model.UserService.IUserService, PracticaMaD.Model" />
	<alias alias="UserService" type="Es.Udc.DotNet.PracticaMaD.Model.UserService.UserService, PracticaMaD.Model" />

	<alias alias="IUserGroupDao" type="Es.Udc.DotNet.PracticaMaD.Model.UserGroupDao.IUserGroupDao, PracticaMaD.Model" />
	<alias alias="UserGroupDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.UserGroupDao.UserGroupDaoEntityFramework, PracticaMaD.Model" />
	<alias alias="IUserGroupService" type="Es.Udc.DotNet.PracticaMaD.Model.UserGroupService.IUserGroupService, PracticaMaD.Model" />
	<alias alias="UserGroupService" type="Es.Udc.DotNet.PracticaMaD.Model.UserGroupService.UserGroupService, PracticaMaD.Model" />

	<alias alias="IRecomendationDao" type="Es.Udc.DotNet.PracticaMaD.Model.RecomendationDao.IRecomendationDao, PracticaMaD.Model" />
	<alias alias="RecomendationDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.RecomendationDao.RecomendationDaoEntityFramework, PracticaMaD.Model" />
	<alias alias="IRecomendationService" type="Es.Udc.DotNet.PracticaMaD.Model.RecomendationService.IRecomendationService, PracticaMaD.Model" />
	<alias alias="RecomendationService" type="Es.Udc.DotNet.PracticaMaD.Model.RecomendationService.RecomendationService, PracticaMaD.Model" />

	<alias alias="IEventDao" type="Es.Udc.DotNet.PracticaMaD.Model.EventDao.IEventDao, PracticaMaD.Model" />
	<alias alias="EventDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.EventDao.EventDaoEntityFramework, PracticaMaD.Model" />
	<alias alias="IEventService" type="Es.Udc.DotNet.PracticaMaD.Model.EventService.IEventService, PracticaMaD.Model" />
	<alias alias="EventService" type="Es.Udc.DotNet.PracticaMaD.Model.EventService.EventService, PracticaMaD.Model" />

	<alias alias="ICommentDao" type="Es.Udc.DotNet.PracticaMaD.Model.CommentDao.ICommentDao, PracticaMaD.Model" />
	<alias alias="CommentDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.CommentDao.CommentDaoEntityFramework, PracticaMaD.Model" />
	<alias alias="ICommentService" type="Es.Udc.DotNet.PracticaMaD.Model.CommentService.ICommentService, PracticaMaD.Model" />
	<alias alias="CommentService" type="Es.Udc.DotNet.PracticaMaD.Model.CommentService.CommentService, PracticaMaD.Model" />

	<alias alias="ICategoryDao" type="Es.Udc.DotNet.PracticaMaD.Model.CategoryDao.ICategoryDao, PracticaMaD.Model" />
	<alias alias="CategoryDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.CategoryDao.CategoryDaoEntityFramework, PracticaMaD.Model" />

	<alias alias="ITagDao" type="Es.Udc.DotNet.PracticaMaD.Model.TagDao.ITagDao, PracticaMaD.Model" />
	<alias alias="TagDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.TagDao.TagDaoEntityFramework, PracticaMaD.Model" />

	<alias alias="DbContext" type="System.Data.Entity.DbContext,EntityFramework" />
	<alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
	<container>
	  <!-- ************   Mappings for Bussiness Objects ************* -->
	  <!-- DAOs -->
	  <register type="IUserProfileDao" mapTo="UserProfileDaoEntityFramework"></register>
	  <register type="IUserGroupDao" mapTo="UserGroupDaoEntityFramework"></register>
	  <register type="IRecomendationDao" mapTo="RecomendationDaoEntityFramework"></register>
	  <register type="IEventDao" mapTo="EventDaoEntityFramework"></register>
	  <register type="ICategoryDao" mapTo="CategoryDaoEntityFramework"></register>
	  <register type="ITagDao" mapTo="TagDaoEntityFramework"></register>
	  <register type="ICommentDao" mapTo="CommentDaoEntityFramework"></register>
	  <!-- Services -->
	  <extension type="Interception" />
	  <register type="IUserService" mapTo="UserService">
		<interceptor type="InterfaceInterceptor" />
		<!-- policyInjection registers a Microsoft.Practices.Unity.InterceptionExtension.AttributeDrivenPolicy no <policy> needed -->
		<policyInjection />
	  </register>
	  <register type="IUserGroupService" mapTo="UserGroupService">
		<interceptor type="InterfaceInterceptor" />
		<!-- policyInjection registers a Microsoft.Practices.Unity.InterceptionExtension.AttributeDrivenPolicy no <policy> needed -->
		<policyInjection />
	  </register>
	  <register type="IRecomendationService" mapTo="RecomendationService">
		<interceptor type="InterfaceInterceptor" />
		<!-- policyInjection registers a Microsoft.Practices.Unity.InterceptionExtension.AttributeDrivenPolicy no <policy> needed -->
		<policyInjection />
	  </register>
	  <register type="IEventService" mapTo="EventService">
		<interceptor type="InterfaceInterceptor" />
		<!-- policyInjection registers a Microsoft.Practices.Unity.InterceptionExtension.AttributeDrivenPolicy no <policy> needed -->
		<policyInjection />
	  </register>
	  <register type="ICommentService" mapTo="CommentService">
		<interceptor type="InterfaceInterceptor" />
		<!-- policyInjection registers a Microsoft.Practices.Unity.InterceptionExtension.AttributeDrivenPolicy no <policy> needed -->
		<policyInjection />
	  </register>
	  <!-- DbContext (Please remember to stablish the CopyLocal propertie to True from System.Data.Entity package.-->
	  <register type="DbContext" mapTo="DbContext">
		<lifetime type="singleton" />
		<constructor>
		  <param name="nameOrConnectionString" type="System.String" value="MaDEntities"></param>
		</constructor>
	  </register>
	</container>
  </unity>

  <!-- Otorgar acceso a Páginas -->

  <location path="Pages/User">
	<system.web>
	  <authorization>
		<deny users="?" />
	  </authorization>
	</system.web>
  </location>

  <location path="Pages/User/Register.aspx">
	<system.web>
	  <authorization>
		<allow users="*" />
	  </authorization>
	</system.web>
  </location>

  <location path="Pages/Event/FindEvents.aspx">
	<system.web>
	  <authorization>
		<allow users="*" />
	  </authorization>
	</system.web>
  </location>

  <location path="Pages/Event/FoundEvents.aspx">
	<system.web>
	  <authorization>
		<allow users="*" />
	  </authorization>
	</system.web>
  </location>

  <location path="Pages/MainPage.aspx">
	<system.web>
	  <authorization>
		<allow users="*" />
	  </authorization>
	</system.web>
  </location>

  <location path="css/Styles.css">
	<system.web>
	  <authorization>
		<allow users="*" />
	  </authorization>
	</system.web>
  </location>

  <location path="trace.axd">
	<system.web>
	  <authorization>
		<allow users="*" />
	  </authorization>
	</system.web>
  </location>



  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>

  <!-- Entity Framework -->
  <entityFramework>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	<providers>
	  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	</providers>
  </entityFramework>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>